@media screen and (min-width:320px) and (max-width:720px) {
    /* for screens that are at least 320 pixels wide but less than or equal to 640 pixels wide */
    body{
        font-family: 'Roboto', sans-serif;
        background-color: rgb(255,121,120);
        background-image: url(img/desktop.png);
    }
    
    #container{
        width: 100%;
    }
    
    #header{
        width: 100%;
    }
    
    #right{
        width: 100%;
    }
    
    #banner{
        width: 100%;
        border-radius: 20px;
        background-color: #5D54A3;
        color: white;
        height: 60px;
        border:none;
        font-size: 17px;
    }
    
    #free{
        background-color: #37CC8A;
        width: 85%;
        color: white;
        height: 50px;
        border:none;
        border-radius: 15px;
        font-size: 17px;
        text-transform: uppercase;
    }
    
    span{
        font-size: 20px;
        font-weight: 700;
    }
    
    h1{
        font-weight: 700;
        color: white;
        font-size: 50px;
    }
    
    p{
        color: white;
    }
    
    form{
        background-color: white;
        text-align: center;
        border-radius: 20px;
        margin: 20px auto;
        padding-top: 25px;
        height: 100%;
    }
    
    input{
        display: block;
        margin: 15px auto;
        width: 80%;
        padding: 15px;
        border: 2px solid #EFE7E7;
        border-radius: 7px;
    }
    
    input:focus, button:focus, select:focus{
        outline: none;
    }
    
    a{
        text-decoration: none;
        color: red;
    }
    
    #terms{
        color: #D0CFD5;
        padding-bottom: 50px;
        font-size: 10px;
    }
    
    footer{
        display: none;
    }
  }

@media screen and (min-width: 720px) {
    body{
        font-family: 'Roboto', sans-serif;
        background-color: rgb(255,121,120);
        background-image: url(img/desktop.png);
    }
    
    #container{
        width: 75%;
        margin: 100px auto;
    }
    
    #header{
        width: 49%;
        padding:0;
        float: left;
        margin: 100px auto;
    }
    
    #right{
        width: 48%;
        padding:0;
        float: right;
    }
    
    #banner{
        width: 100%;
        border-radius: 20px;
        background-color: #5D54A3;
        color: white;
        height: 60px;
        border:none;
        font-size: 17px;
    }
    
    #free{
        background-color: #37CC8A;
        width: 85%;
        color: white;
        height: 50px;
        border:none;
        border-radius: 15px;
        font-size: 17px;
        text-transform: uppercase;
    }
    
    span{
        font-size: 20px;
        font-weight: 700;
    }
    
    h1{
        font-weight: 700;
        color: white;
        font-size: 50px;
    }
    
    p{
        color: white;
    }
    
    form{
        background-color: white;
        text-align: center;
        border-radius: 20px;
        margin: 20px auto;
        padding-top: 25px;
        height: 100%;
    }
    
    input{
        display: block;
        margin: 15px auto;
        width: 80%;
        padding: 15px;
        border: 2px solid #EFE7E7;
        border-radius: 7px;
    }
    
    input:focus, button:focus, select:focus{
        outline: none;
    }
    
    a{
        text-decoration: none;
        color: red;
    }
    
    #terms{
        color: #D0CFD5;
        padding-bottom: 50px;
        font-size: 10px;
    }
    
    footer{
        display: none;
    }
}
